<button class="avatar-button btn btn-outline-secondary d-flex justify-content-center align-items-center">
    <b class="bg-transparent">@GetInitials()</b>
</button>

<style>
.avatar-button:hover b {
    display:none;
}
.avatar-button:hover::after {
    content:"@Name";
    font-weight:bold;
}
</style>

@code {
    [Parameter]
    public string? Name { get; set; }
    private string GetInitials()
    {
        if (string.IsNullOrEmpty(Name))
            return "??";
        var names = Name.Split(' ');
        if (names.Length == 0)
            return "??";
        var firstInitial = names[0].Substring(0, 1).ToUpper();
        var lastInitial = names.Length > 1 ? names[names.Length - 1].Substring(0, 1).ToUpper() : string.Empty;
        //return $"{firstInitial}{lastInitial}";
        return $"{firstInitial}";
    }
}