<button class="btn btn-outline-secondary d-flex justify-content-center align-items-center gap-2"
        @onmouseover="() => _isHovered = true" @onmouseout="() => _isHovered = false"
        @onclick="OpenUserModal">
    @if (_isHovered)
    {
        <span class="bg-transparent">@Name</span>
        <i class="bi bi-gear small" />
    }
    else
    {
        <b class="bg-transparent">@GetInitials()</b>
    }
</button>

@code {
    private bool _isHovered = false;

    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public EventCallback OnUserModalOpen { get; set; }

    private void OpenUserModal()
    {
        if (OnUserModalOpen.HasDelegate)
        {
            OnUserModalOpen.InvokeAsync();
        }
    }

    private string GetInitials()
    {
        if (string.IsNullOrEmpty(Name))
            return "??";
        return $"{Name[0].ToString().ToUpper()}";
    }
}